.table211{
    margin-left:10%;
    width: 60%;
    position: relative;
    background-color: whitesmoke;
    margin-top: -1%;
    z-index: 5;
}
.burgermenu1{
    margin-top: -50%;

}
.pizimage{
    height: 10%;
}